:root {
  --primary-text-color: #000000;
  --second-text-color: #656363;
  --white-color: #ffffff;

  --primary-accent-color: #d67e34;
  --second-accent-color: #bc9060;

  --background-btn: #ff7400;

  --color-title-hero: #d67e35;

  --primary-bacground-image: #c4c4c4;

  --padding-container: 15px;
  --padding-section: 94px;
  --width-container: 1140px;
  /* color #2C2C2C */
}
/**
  |============================
  | Global
  |============================
*/

/* * {
  outline: 1px solid tomato;
}
 */
body {
  color: var(--primary-text-color);
  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  color: var(--white-color);
  background-color: var(--background-btn);
  padding: 14px 18px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  text-transform: uppercase;

  border: none;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.container {
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);

  margin-left: auto;
  margin-right: auto;

  width: var(--width-container);
}

/**
  |============================
  | Header
  |============================
*/
.header {
  position: absolute;
  top: 50px;

  width: 100%;

  color: var(--white-color);
}

.wrapper-header {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  display: block;
  fill: transparent;
  stroke: #f44336;
}

.nav-main {
  margin-left: auto;
}

.list-main {
  display: flex;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  height: 100%;
}

.item-main-nav + .item-main-nav {
  margin-left: 25px;
}

.link-nav-main {
  padding-top: 24px;
  padding-bottom: 24px;

  color: inherit;

  text-transform: uppercase;
}

/* Card */

.link-cart {
  color: inherit;
}

.wrap-cart {
  display: block;
  margin-left: 36px;
  padding: 22px 21px 16px 0;

  border-right: 1px solid white;
}

/* Phone */
.phone {
  margin-left: 31px;
  max-width: 162px;
}

.icon-phone {
  fill: currentColor;
  stroke: currentColor;
}

.link-phone {
  display: flex;

  color: inherit;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
}

.number-phone {
  margin-left: 8px;
}

.text-phone {
  font-size: 14px;
  line-height: 1.36;
}

.bth-header {
  margin-left: 45px;
  height: 47px;
}

/**
  |============================
  | Tile
  |============================
*/
.title {
  font-family: "Tinos", sans-serif;
  font-size: 54px;
  text-align: center;
}
.title-accent {
  color: var(--primary-accent-color);
  text-transform: capitalize;
}

.title-hero {
  font-size: 80px;
  color: var(--color-title-hero);
}
.title-hero-accent {
  font-size: 50px;
}

/**
  |============================
  | Section Hero
  |============================
*/
.section-hero-back {
  background-color: var(--primary-bacground-image);
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;

  text-align: center;

  margin: 0 auto;
}

.section-hero::after {
  content: "";
  display: block;
  height: 224px;
}

.container-hero {
  padding: 291px 540px 220px 15px;
}

.text-hero {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  color: var(--white-color);
  font-size: 18px;
  line-height: 1.39;

  margin-top: 12px;
}

.text-hero::after,
.text-hero::before {
  content: "";
  background: currentColor;
  width: 61px;
  height: 2px;

  margin-left: 9px;
  margin-right: 9px;
}
.text-hero + .text-hero {
  margin-left: 9px;
}

.bth-hero {
  margin-top: 21px;
}

/**
  |============================
  | Section Intro
  |============================
*/
.intro {
  position: absolute;
  top: 691px;

  width: 100%;
}

.list-intro {
  display: flex;
  gap: 31px;
  justify-content: space-between;

  font-family: "Tinos", sans-serif;

  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-text-color);
}

.title-intro {
  color: #2c2c2c;
  margin-top: 4px;
}

.title-intro-accent {
  color: var(--second-accent-color);
}

.item-intro {
  width: 349px;

  background-color: var(--white-color);

  padding: 5px 5px 16px 5px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.logo-dish {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;

  fill: var(--second-accent-color);
  display: block;
}

.text-intro {
  margin-top: 20px;
}

/**
  |============================
  | Section Our Story
  |============================
*/
.section-our-story {
  display: flex;
  justify-content: space-between;

  padding-top: 150px;
  padding-bottom: 122px;
}

.wrap-our-story {
  padding-top: 16px;
  width: 444px;

  text-align: center;
}

.text-our-story {
  margin-top: 21px;

  font-size: 16px;
  line-height: 1.38;

  color: var(--second-text-color);
}

.list-our-story {
  display: flex;
  justify-content: center;

  margin-top: 76px;
}

.item-list-story + .item-list-story {
  margin-left: 30px;
}

.text-story-number {
  font-size: 40px;
  line-height: 1.35;
  text-align: center;

  color: var(--second-accent-color);
}

.text-story-list {
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}

.list-photo-our-story {
  position: relative;
  display: flex;
  width: 539px;
}

.img-our-story1 {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 9;

  box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
}

.img-our-story2 {
  position: absolute;
  top: 0;
  left: 190px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-our-story3 {
  position: absolute;
  top: 198px;
  left: 284px;
  z-index: 9;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

/**
  |============================
  | Section Baner
  |============================
*/
.section-baner {
  margin-left: auto;
  margin-right: auto;

  background-image: url("../images/bg-baner-b.png"),
    url("../images/bg-baner.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.container-baner {
  display: flex;
  padding-top: 80px;
  padding-bottom: 104px;
}

.wrap-baner {
  max-width: 601px;
}

.title-baner {
  color: var(--primary-accent-color);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.15;
  text-align: left;
}

.text-baner {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: var(--white-color);
}

.btn-baner {
  height: 47px;

  margin-top: 75px;
  margin-right: 20px;
  margin-left: auto;
}

/**
  |============================
  | Section Our Dish
  |============================
*/
.section-dish {
  padding-top: 132px;
  padding-bottom: 150px;
}

.wrap-dish {
  display: flex;
  padding-top: 140px;
}

.list-dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  margin-left: 30px;
  margin-right: -20px;
}

.item-dish {
  display: flex;
  align-items: center;

  font-family: "Tinos", sans-serif;
  font-size: 26px;
  line-height: 1.15;
}

.name-dish {
  margin-left: 30px;
}

.price-dish {
  align-items: center;
  order: 3;
}

.item-dish::before {
  content: "";
  /* border: 1px solid #000000; */
  height: 1px;
  margin-left: 7px;
  margin-right: 11px;
  flex-grow: 1;
  background-color: currentColor;
  order: 2;
}

/* TODO доробити розділювач між назвою і ціною і тапкож винести валюту за падінг */
/**
  |============================
  | Secrion Our Meny
  |============================
*/
.section-menu {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-bacground-image);
  background-image: url("../images/bg-menu.jpg");

  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  max-width: 1440px;

  outline: 1px solid red;
}

.container-menu {
  padding: 100px 0 226px 0;
}

.title-our-menu {
  color: var(--white-color);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.list-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
}

.item-menu {
  position: relative;

  padding: 80px 62px 29px 62px;
  text-align: center;
  flex-basis: 350px;
  height: 510px;
  background-color: var(--white-color);
}

.wrap-img-menu {
  position: relative;
}

.img-menu {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 22px auto;

  border-radius: 50%;
}

.title-item-menu {
  margin-bottom: 17px;

  font-family: "Tinos", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
}

.content-item-menu {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.38;
}

.btn-item-menu {
  padding: 14px 68px;
  background-color: var(--primary-accent-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.price-menu {
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  width: 100px;
  height: 100px;
  border: 7px solid var(--white-color);
  border-radius: 50%;

  padding: 26px 20px;

  font-family: "Cookie", sans-serif;
  font-size: 30px;
  line-height: 1.1;

  color: var(--white-color);
  background-color: var(--primary-accent-color);
}

.item-recomehded {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding: 7px 12px 11px 12px;
  background-color: var(--primary-accent-color);
  text-transform: uppercase;
}

/**
  |============================
  | Section Testomonial
  |============================
*/

.container-testomonial {
  padding: 104px 125px 139px 125px;
  text-align: center;
  outline: 1px solid red;
}

.text-testomonial {
  font-style: italic;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 20px;
}
.img-testomonial {
  margin: 0 auto 16px auto;

  border-radius: 50%;
}
.type-testomonial {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
}

.name-testomonial {
  font-size: 20px;
  line-height: 1.35;
}

/**
  |============================
  | section Food Gallery
  |============================
*/

.container-gallery {
  padding-top: 100px;
  outline: 1px solid red;
}

.title-gallery {
  margin-bottom: 60px;
}

.list-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/**
  |============================
  | section Oer Shef
  |============================
*/

.container-shef {
  padding-top: 100px;
  padding-bottom: 43px;
  outline: 1px solid red;
}

.title-shef {
  margin-bottom: 107px;
}

.list-shef {
  display: flex;
  justify-content: space-between;
}

/**
  |============================
  | Section footer
  |============================
*/
.footer-baner {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 1440px;
  height: 732px;

  background-image: url("../images/bg-footer-baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
